.card {
    height: 400px;
    border: 2px solid black;
    display: inline-block;
    width: 500px;
    margin: 20px;
}

.offer {
    font-size: 20px;
    color: brown;
}


@media screen and (min-width: 320px) and (max-width: 500px) {
    /* APPLY THIS SET OF CSS ONLY WHEN SCREEN SIZE IS BETWEEN 320PX AND 500PX */
        .card {
            background-color: green;
        }

        .offer {
            display: none;
        }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    /* APPLY THIS SET OF CSS ONLY WHEN SCREEN SIZE IS BETWEEN 501px AND 900PX */
        .card {
            background-color: blue;
        }

        .offer {
            display: none;
        }
}