.section {
    display: flex;
}

.left-section {
    width: 40%;
    padding: 10px;
}

.right-section {
    width: 60%;
    padding: 10px;
}

.preview-images img {
    width: 15%;
    margin: 0px 10px;
}

.atc-btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
    margin: 20px 0px;
}

#largePreview {
    width: 100%;
}

.active {
    border: 2px solid #009688;
    padding: 5px;
    border-radius: 5px;
}