.parent {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.child {
    background-color: beige;
    margin:20px;
}